@tailwind base;

html {
  @apply bg-nord0 text-nord6;
}

@tailwind components;
@tailwind utilities;

input[type="number"].no-spin::-webkit-inner-spin-button,
input[type="number"].no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
